<div class="row  mt-3"  >
    <div style="margin-left: 30px;">
      <h3 class="title">
        &lt; ¡Ya casi terminamos!
      </h3>
      <p style="margin-left: 30px; margin-bottom: 30px;">Revisa la información y completa lo solicitado </p>
    </div>
    <div class="col-6  d-flex justify-content-center">
      <div class="card-perfil">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <span class="nombre-usuario" style=" font-size: 26px; margin: 20px; "> {{usuario.nombre}} </span>
            <img  *ngIf="img === '' ? true : false"  src="../../../assets/images/perfil.jpg" alt="Admin" class="rounded-circle" width="150" height="150">
            <img  *ngIf="img !== '' ? true : false"  [src]="img" alt="Admin" class="rounded-circle" width="150" height="150" />
            <div class="mt-4" style="margin: 0; padding: 0;">
                <div class="row" style="margin: 0; padding: 0;">
                    <div class="col info-1 text-left">
                        <b>Pasatiempo:</b>
                      </div>
                      <div class="col info-2 text-right" >
                        {{usuario.pasatiempo}}
                      </div>
                </div>
                <div class="row" style="margin: 0; padding: 0;">
                    <div class="col info-1 text-left">
                        <b>Edad:</b>
                      </div>
                      <div class="col info-2 text-right" >
                        {{usuario.edad}}
                      </div>
                </div>
                <div  *ngIf="edadU > 18 ? true : false" class="row" style="margin: 0; padding: 0;">
                    <div class="col info-1 text-left">
                        <b>DIU:</b>
                      </div>
                      <div  class="col info-2 text-right" >
                        {{ usuario.identificacion?.substring(0, 9) + '-' + usuario.identificacion?.substring(9, 10)}}
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: -10vh;" class="col-6 justify-content-center">
      <div >
        <span class="title" style="font-size: 25px;">
         Pokemón
        </span>
        <p > Selecciona 3 pokemones que sen parte de tu equipo</p>
      </div>

    <div class="row" style="margin: 0; padding: 0;">
        <div class="col-4 text-center" style="margin-bottom: 8vh;">
            <div class="content-poke">
                <div class="card-body">
                    <div class="content-pokemon" >
                        <div class="col info-3 text-left">
                            <b>#001:</b>  pikachu
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-poke">
                <img src="../../../assets/images/img1.jpg" alt="Admin" class="rounded-circle" style="width: 60%;">
            </div>
        </div>
    </div>


      <div style="width: 40vh;">
        <div class="form-group">
            <div  style="width: 100%;  margin-bottom: 20px;">
                <button type="submit">
                    Continuar
                </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  