@import "~bootstrap-icons/font/bootstrap-icons.css";

$red: #bd3736;
$black: black;
$white: #fcfcfc;
$yellow: #FFD924;
$green: #00693C;
$light-green:#7ED876;
$orange: #FFC600;
$gray: #F2F2F2;
$dark-gray: #868686;
$text: #20597D;
$textb: #61A3CD;